*{
    margin: 0;
    padding: 0;
}

.App {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.created-details-container {
    margin: .5rem 0 .5rem 0;
    padding: 1rem;
    border: .1rem solid grey;
}