*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-container {
    min-width: 33%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    min-width: 25rem;
}

.created-details-container {
    margin: .5rem 0 .5rem 0;
    padding: 1rem;
    border: .1rem solid grey;
}

label {
    display: flex;
    justify-content: space-between;
    margin: .3rem 0;
}

input {
    flex-basis: 70%;
    height: 1.5rem;
    border-radius: 5px;
}

h3 {
    text-align: center;
}

button {
    align-self: flex-end;
    height: 2rem;
    border-radius: 5px;
    width: 10rem;
    margin-top: .5rem;
}

.A4 {
    margin-top: 2rem;
    border: 1px solid grey;
    width: 21cm;
    height: 29.7cm;
    text-align: center;
}