*{
    margin: 0;
    padding: 0;
}

.App {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}